@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply bg-white rounded overflow-hidden shadow relative mb-3;
}

.badge {
    @apply bg-secondary text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}

.btn {
    @apply rounded-full py-2 px-3 uppercase text-xs font-semibold cursor-pointer tracking-wider;
}
